{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<h5 class="text-center display-4 my-4">Buscar datos por Nombre y DNI</h5>
<br>

<div class="container">
    <form action="{% url 'buscar' %}" method="GET">
        {% csrf_token%}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nomrbe</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">DNI</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="dni" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>

<br>
<br>

<div class="container">
    <p>Buscando a: {{nombre}} con DNI: {{dni}}</p>

    {% if encontrados %}
        <p> {{encontrados | length}} persona/s coinciden con los datos:</p>

        <ul class="list-group">
            {% for persona in encontrados %}
                <li class="list-group-item"> {{ persona.nombre }}, {{ persona.dni }} </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No se econtró la persona buscada</p>
    {% endif %}

</div>

{% endblock %}