{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}

{% if form.errors %}
<div class="alert alert-danger"> Error al editar premio</div>
{% endif %}

{% if mensaje %}
<div class="alert alert-success"> Premio actualizado exitosamente! </div>
{% endif %}

<br>
<h1>Actualziacion de persona</h1>
<br>

<div class="container">
    <form action="{% url 'actualizarPremio' premio.id %}" method="POST">
        {% csrf_token %}

        {{ formPremio | crispy}}

        <button type="submit" class="btn btn-success">Actualizar</button>
        <a class="btn btn-danger" href="{% url 'listaPremios' %}">Cancelar</a>

    </form>
</div>

{% endblock %}