{% extends 'base.html' %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div id="container"></div>
    <a href="{% url 'listaPremios' %}" class="btn btn-primary">Volver</a>
</div>

<script>

    datos = {{data|safe}}
    Highcharts.chart('container', {
        colors: ['#01BAF2', '#f6fa4b', '#FAA74B', '#baf201', '#f201ba'],
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Películas con más probabilidades de ganar uno o más premios'
        },
        tooltip: {
            valueSuffix: '%'
        },
        subtitle: {
            text:
                'Cantidad total de premios: 30'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                },
                showInLegend: true
            }
        },
        series: [
            {
                name: 'Porcentaje',
                colorByPoint: true,
                data: datos
            }
        ]
    });
</script>

{% endblock %}