{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}

<h1 class="text-center display-4 my-4">Galería de imágenes</h1>


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/uno.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: contain;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/dos.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: contain;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/tres.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: contain;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/cuatro.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: contain;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/cinco.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: contain;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/seis.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: contain;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/siete.jpg' %}" class="d-block w-100" style="height: 500px; object-fit: contain;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br>
<hr>

<div class="container">
    <h4 class="text-center display-4 my-4">Convertir imágen a Base64</h4>
    <form action="{% url 'conversion' %}" method="get">
        <div class="mb-3">
            <label for="foto" class="form-label">Escriba el directorio donde se encuentra su foto</label>
            <input type="text" class="form-control" id="foto" name="imagen"
            placeholder="ej: c:/Users/Desktop/imagenes/imagen.jpg"> <br>
            <button type="submit" class="btn btn-success">Convertir</button>
        </div>
    </form>
</div>

{% endblock%}