{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<h1 class="text-center display-4 my-4">Lista Personas</h1>
<br>

{% if mensaje %}
<div class="alert alert-success"> Persona borrada exitosamente! </div>
{% endif %}
<br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">Sueldo Mensual</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Sueldo Anual</th>
                <th scope="col">Edad actual</th>
                <th scope="col">Incrementar sueldo</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr>
                <th scope="row"> {{ persona.id }} </th>
                <td> {{ persona.nombre }} </td>
                <td> {{ persona.apellido }} </td>
                <td> {{ persona.dni }} </td>
                <td> {{ persona.nacimiento }} </td>
                <td> ${{ persona.sueldo_mensual }} </td>

                <td> <a class="btn btn-warning" href="{% url 'editar' persona.id%}">Editar</a> </td>
                <td> <a class="btn btn-danger" href="{% url 'eliminar' persona.id %}">Eliminar</a> </td>
                <td> <a href="{% url 'anual' persona.sueldo_mensual %}" class="btn btn-secondary">Mostrar</a> </td>
                <td> <a href="{% url 'edadActual' persona.nacimiento.year %}" class="btn btn-dark">Mostar</a></td>
                <td> <a href="{% url 'actualizarSueldo' persona.id persona.sueldo_mensual 10 %}" class="btn btn-primary">10%</a></td>
                <td> <a href="{% url 'actualizarSueldo' persona.id persona.sueldo_mensual 15 %}" class="btn btn-primary">15%</a></td>
                <td> <a href="{% url 'actualizarSueldo' persona.id persona.sueldo_mensual 20 %}" class="btn btn-primary">20%</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{% url 'registrar' %}">Nueva Persona</a>

</div>
<br>

{% endblock %}