{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<h1>Lista Personas</h1>
<br>

{% if mensaje %}
<div class="alert alert-success"> Persona borrada exitosamente! </div>
{% endif %}
<br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">Sueldo Mensual</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas%}
            <tr>
                <th scope="row"> {{ persona.id }} </th>
                <td> {{ persona.nombre }} </td>
                <td> {{ persona.apellido }} </td>
                <td> {{ persona.dni }} </td>
                <td> {{ persona.nacimiento }} </td>
                <td> ${{ persona.sueldo_mensual }} </td>

                <td> <a class="btn btn-warning" href="{% url 'editar' persona.id%}">Editar</a> </td>
                <td> <a class="btn btn-danger" href="{% url 'eliminar' persona.id %}">Eliminar</a> </td>
                <td> 

                    <div class="dropdown">
                        <a href="{% url 'anual' persona.id%}" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sueldo Anual
                        </a>
                        <ul class="dropdown-menu">
                          <li class="dropdown-item">  ${{ anual }} </li>
                        </ul>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{% url 'registrar' %}">Nueva Persona</a>

</div>

<hr>
<br>

<div class="container">

    <h4>Calcular y obtener datos de los sueldos de las personas</h4>
    <br>
    <a class="btn btn-success" href="{% url 'funcionesSueldos' %}">Realizar acciones</a>

    <br>
    <h3>Sueldo promedio: ${{ sueldo_promedio }}</h3>
    <br>
    <h3>Sueldo mas alto: ${{ sueldo_alto }}</h3>
    <h5>Persona correspondiente: {{ datos_alto }}</h5>
    <br>
    <h3>Sueldo mas bajo: ${{ sueldo_bajo }}</h3>
    <h5>Persona correspondiente: {{ datos_bajo }}</h5>
    <br>
    <h3>Diferencia entre sueldo más alto y sueldo más bajo: ${{ sueldo_alto }} - ${{ sueldo_bajo }} = ${{ diferencia }}</h3>
    
</div>

{% endblock %} 