{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<h1 class="text-center display-4 my-4">Lista Películas</h1>
<br>

{% if mensaje %}
<div class="alert alert-success"> Película borrada exitosamente! </div>
{% endif %}
<br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Género</th>
                <th scope="col">Actor</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pelicula in peliculas %}
            <tr>
                <th scope="row"> {{ pelicula.id }} </th>
                <td> {{ pelicula.nombre_pelicula }} </td>
                <td> {{ pelicula.descripcion }} </td>
                <td> {{ pelicula.genero }} </td>
                <td> {{ pelicula.persona }} </td>

                <td> <a class="btn btn-warning" href="{% url 'editarPelicula' pelicula.id %}">Editar</a> </td>
                <td> <a class="btn btn-danger" href="{% url 'eliminarPelicula' pelicula.id %}">Eliminar</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{% url 'registrarPelicula' %}">Nueva Pelicula</a>
    <button class="btn btn-warning" onclick="refresh();"> Refrescar Tabla </button>
</div>

{% endblock %}