{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}


{% block content %}

<div class="container">
    <br>
    <h1 class="text-center display-4 my-4">Explora los cines!</h1>

    <div id="map" style="height: 400px; width: 800px; margin: 10px auto;"></div>

    <a href="{% url 'listaCines' %}" class="btn btn-primary">Volver a la tabla</a>
</div>


<script>
    const map = L.map('map').setView([-31.420033987817458, -64.18878104350644], 8);
    const ubicaciones = {{ data | safe }}

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    for (let i = 0; i < ubicaciones.length; i++) {
        const marker = L.marker([ubicaciones[i], ubicaciones[i+1]]).addTo(map);
        i++
    }

</script>

{% endblock %}