{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivo personas PDF</title>

</head>

<body>

    <img src="{{ logo }}" alt="Logo de Emser" style="width: 120px; height: 50px; text-align: right;">

    <h1 style="text-align: center;">Tabla de personas</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">Sueldo Mensual</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr>
                <th scope="row"> {{ persona.id }} </th>
                <td style="margin-left: 30px;"> {{ persona.nombre.capitalize }} </td>
                <td style="margin-left: 30px;"> {{ persona.apellido.capitalize }} </td>
                <td style="margin-left: 30px;"> {{ persona.dni }} </td>
                <td style="margin-left: 30px;"> {{ persona.nacimiento }} </td>
                <td style="margin-left: 30px;"> ${{ persona.sueldo_mensual }} </td>
            </tr>
            {% endfor %}
        </tbody>
        <hr>
    </table>
    <hr>

    <div style="text-align: right;">
        <p class="mb-1"> <strong> > Sueldo promedio:</strong> ${{ sueldo_promedio }} </p>
        <p class="mb-1"> <strong> > Sueldo más alto:</strong> ${{ sueldo_alto }} </p>
        <p class="mb-1"> <strong> > Sueldo más bajo:</strong> ${{ sueldo_bajo }} </p>
        <p class="mb-1">
            <strong> > Diferencia entre sueldo más alto y sueldo más bajo:</strong>
            ${{ sueldo_alto }} - ${{ sueldo_bajo }} = ${{ diferencia }}
        </p>
    </div>
    
    <div> Página <pdf:pagenumber> </div>


</body>

</html>