<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Titulo a poner</h1>
    <!-- <img src="" alt=""> aca va el logo de emser -->

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">Sueldo Mensual</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr>
                <th scope="row"> {{ persona.id }} </th>
                <td> {{ persona.nombre }} </td>
                <td> {{ persona.apellido }} </td>
                <td> {{ persona.dni }} </td>
                <td> {{ persona.nacimiento }} </td>
                <td> ${{ persona.sueldo_mensual }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>